name: GitHub Actions Demo
on: [push]
jobs:
  Explore-GitHub-Actions:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Get AWS Secret from Github
        env: # Or as an environment variable
          REVOL_AWS_ACCESS: ${{ secrets.AWS_ACCESS_KEY }}
          REVOL_AWS_SECRET: ${{ secrets.AWS_SECRET_KEY }}
        run: echo "$REVOL_AWS_SECRET and $REVOL_AWS_ACCESS"
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
          aws-region: eu-west-2
      - name: STS Get Caller Identity
        run: |
          aws sts get-caller-identity
      - name: aws-ssm-to-env
        uses: Bardavon-Health/actions-aws-ssm-params-to-env@v1.2
        with:
          ssm-path: /github-actions/my-deployment-key # required
          prefix: REVOL_
          decryption: true # optional, default false
      - run: env
      #  - uses: aws-actions/configure-aws-credentials@v1
      #   with:
      #     aws-region: eu-west-2
      #     aws-access-key-id: ${{ env.REVOL_access }}
      #     aws-secret-access-key: ${{ env.REVOL_secret }}
